canvas{
    background-color: none;
}
body{
    display:flex;
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    position:fixed;
    z-index: 10;
    overflow: auto;
    width: 280px;
    height: 100%;
    background-color: rgb(41, 41, 41);
    color: white;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}

.button {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 0.9em;
    padding: 0.5em;
    transition: all 0.3s;
    cursor: pointer;
    margin: 0.5em 1em;
}

.button:hover {
    background-color: rgb(186, 186, 186);
}

.buttonItems{
    cursor: pointer;
}
.stickyFix label{
    width: 75%;
    margin-left: 1em;
    padding-top: 0.5em;
}
.input{
    width: 75%;
    margin-left: 1em;
}
.flexbox{
    display: flex;
    flex-direction: column;

}
.furniture-blocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 5em;
}
.furniture-blocks h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.contentBlock{
    display: flex;
    flex-direction: column;
    width: 17em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    background-color: rgb(63, 63, 63);
    border-radius: 5px;
}
.contentBlock:hover {

    transition: 0.5s;
}
.contentBlock img{
    width: 2.5em;
    height: auto;
    transition: 0.5s;
}
.contentBlock img:hover {
    transform: scale(1.3); /* (130% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: 0.5s;
}
.contentBlock h2{
    color: white;
    padding-bottom: 0.5em;
    text-align: center;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div#bottom-right {
    bottom: 0;
    right: 0;
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: rgb(41, 41, 41);
    color:white;
    position: fixed;
    z-index: 10;
    width: 12em;
    border-radius: 15px 0px 0px 0px;
}
div#bottom-right p{
    padding-left: 1.5em;
    margin-bottom:1em;
    margin-top: 1em;

}
div#bottom-right h2{
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
    margin-top: 1em;;
}
